header{
    background-color: white;
    /* width: 100%; */
    padding: 10px 100px 0px 100px;
}
.fast-title{
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 100px; */
    font-size: 1.3rem;
}
nav ul{
    display: flex;
    align-items: center;
   /* gap: 50px; */
}
ul li{
    list-style: none;
    margin-left: 25px;
}
li a{
    text-decoration: none;
    color: #5f5e5e;
    font-weight: bold;
    font-size: 20px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}
.header-title{
    max-width: 540px;
}
.start{
    max-width: 520px;
    font-size: 3.3rem;
}
.back-img{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}
.header-discription{
    margin-top: -5px;
    max-width: 540px;
    color: #3d3d3d;
}
.btn-primary{
    padding: 12px 30px;
    background-color: rgb(255, 118, 141);
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 1.2rem;
}
/*sheard color*/
.dark-1{
    color: #3d3d3d;
}
.dark-2{
    color: #5f5e5e;
}
.span-1{
    color: rgb(255, 128, 149);
}
/*shead color*/
/*section-one*/
.section-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    box-shadow: 1px 0px 1px 0px black;
    text-align: center;
}
/*section-tow*/
.section-tow{
    margin: 30px;
    margin-left: 50px;
    /* text-align: center;
   */
   justify-self: center;
 
}

.towimg-head img{
    width: 300px;
    height: 250px;
    
}
.section-container{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
 
   /* box-shadow: 14px 14px 28px rgb(248, 245, 245); */
}
.card:hover{
    box-shadow: 3px 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(206, 200, 200, 0.23);
    transform: translate(0px, -8px);
}
.card{
    background-color: rgb(255, 255, 255);
   border: 1px solid rgb(240, 235, 235);
   margin: 20px;
   /* height: 100px; */
   box-shadow: 7px 0px 15px 0 rgb(194, 191, 191);
 padding: 5px;
}
ul{
    display: flex;
    margin-left: -50px;
       /* padding-right: 20px; */
    gap: 0px;
    font-size: .9rem;
   margin-inline-end: 2px;
   margin-top: -20px;
}
.checked{
 color: gold;
}
h1{
    font-size: 2.4rem;
}
.dollar{
    font-size: 2rem;
}
p{
    color: #5f5e5e;
    font-size: 1.5rem;
}
li i{
    gap: 1px;
}
.see-more{
   /* border: 1px solid red; */
   /* width: 100px; */
   /* position:  absolute; */
 margin-left: 940px;
 /* background-color: palevioletred; */
padding: 1px 50px;
 border-radius: 30px;
 color: palevioletred;
 font-weight: 700px;
   font-size: 1.5rem;
   align-items: center;
   justify-self: center;

}
.three-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  padding: 10px 200px 0 230px;
}
.three-title{
    max-width: 840px;
    padding-right: 180px;
}
.product{
    font-size: 4rem;
}
.btn-primary:hover{
    background-color: blue;
    padding: 12px 60px;
    transition:  all ease-in-out 0.5s;
}
footer{
    background-color: rgb(0, 0, 0);
   text-align: center;
    color: white;
    padding: 40px;
    margin-top: 50px;
}
.white{
    color: white;
    margin-top: -20px;
}



/*media quere*/
@media screen and (max-width: 576px) {
    nav ul, nav, .header-container, .three-container, .section-container, .section-logo{
        flex-direction: column;
    }
    .section-container{
        grid-template-columns: repeat(1, 1fr);
      
    }
    .section-tow{
        justify-self: auto;
      }
    .header-title {
        margin: auto;
    }
    .back-img{
     padding-left: -20px;
     font-size: 10px;
    }
    header{
        padding: 0;
    }
}
@media screen and (min-width: 576px) and (max-width: 990px){
    .three-container{
        flex-direction: column;
    }
   
    .section-logo{
        flex-wrap: wrap;
    } 
    .section-tow{
    justify-self: auto;
    }
    .section-container{
        grid-template-columns: repeat(2, 1fr);
    }
} {
    
}